.filter {
    background-color: #282531;
    color: white;
    padding-top: 52px;
    padding-bottom: 58px;
    color: white;
}

@media (max-width: 767px) {
    .filter {
        padding-top: 46px;
        padding-bottom: 40px;
    }
}