.filter__btn-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 767px) {
    .filter__btn-wrap {
        margin: 14px auto 0;
    }
  }
  