.filter__square-value {
    background-color: #3E3B46;
    padding: 15px 0 15px 18px;
    border: hidden;
    border-radius: 4px;
    width: 289px;
    color: white;
    outline: none;
    box-sizing: border-box;
}

.filter__square-value:focus {
    border: 1px solid white;
}

.filter__square-value:active {
    border: 1px solid white;
}