.title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
}

.title_one {
  margin-bottom: 4px;
}

@media (max-width: 767px) {
  .title {
    font-size: 20px;
  }

  .title_one {
    margin-bottom: 20px;
  }
}

