.filter__checkbox-label {
  display: inline-block;
  margin: 0 4px 0 0;
  padding-top: 16px;
  width: 60px;
  height: 48px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #3e3b46;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  color: #9c9aa0;
  box-sizing: border-box;
}

.filter__checkbox-label:last-of-type {
  margin: 0;
}

@media (max-width: 767px) {
  .filter__checkbox-label {
    height: 43px;
    width: 53px;
  }
}
