.filter__floor-list {
    appearance: none;
    background-image: url(../../../images/select.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    padding: 15px 0 15px 10px;
    outline: 0;
    color: #9C9AA0;
    background-color: #3E3B46;
    border-radius: 4px;
    outline: none;
    border: none;
    width: 80px;
}

.filter__floor-list:hover {
    cursor: pointer;
}