.characteristics__value {
    display: inline-block;
    margin: 0;
    margin-bottom: -4px;
    background-color: #fff;
}


@media (max-width: 767px) {
    .characteristics__value {
        margin: 0;
    }

    .characteristics__value:first-child {
        margin-bottom: 4px;
        font-weight: bold;
    }
}